<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WpwWcfSeting" type="Com.FrameWork.Helper.Wcf.InitConfig,Com.FrameWork" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Database=local;User ID=root;Password=temp2015;Server=127.0.0.1;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <WpwWcfSeting>
    <WcfServer Path="~/servercontract.config"/>
    <WcfConstant Path="~/serverconst.config"/>
  </WpwWcfSeting>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>