<?xml version="1.0"?>
<configuration>
  <Services>
    <!--maxItemsInObjectGraph定义序列化数据大小(大数据量使用)-->
    <service name="Demo.Dao.Imp.ContactsBll,Demo.Dao"
            contract="Demo.Interface.IContactsBll,Demo.Interface"
            address="Demo/Interface/IContactsBll"
            maxItemsInObjectGraph="2147483647">
    </service>
    <service name="Demo.Dao.Imp.PJSBLOGBll,Demo.Dao"
    contract="Demo.Interface.IPJSBLOGBll,Demo.Interface"
    address="Demo/Interface/IPJSBLOGBll"
    maxItemsInObjectGraph="2147483647">
    </service>
  </Services>
</configuration>