<?xml version="1.0"?>
<configuration>
  <Clients>
    <Server name="Demo">
      <!--maxItemsInObjectGraph属性在需要传输大数据量数据时使用-->
      <client contract="Demo.Interface.IContactsBll"
              address="Demo/Interface/IContactsBll"
              maxItemsInObjectGraph="2147483647">
      </client>
      <client contract="Demo.Interface.IPJSBLOGBll"
        address="Demo/Interface/IPJSBLOGBll"
        maxItemsInObjectGraph="2147483647">
      </client>
    </Server>
  </Clients>
</configuration>